
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Mad_MadBooking_list' %}">
    MadBooking Listing
    </a>
</p>
    
<table class="table">
    <tr><td>aktivitet</td><td>{{ object.aktivitet }}</td></tr>
    <tr><td>forklaring</td><td>{{ object.forklaring }}</td></tr>
    <tr><td>antal</td><td>{{ object.antal }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>status</td><td>{{ object.status }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>anvendelses_tidspunkt</td><td>{{ object.anvendelses_tidspunkt }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}