{% extends "base.html" %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<p>
    <a class="btn btn-light" href="{% url 'Depot_DepotBooking_list' %}">
        {% bs_icon 'caret-left' %}  Tilbage
    </a>
</p>
    
<form id="form" role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}  

     <!-- Item -->
    <div class="mb-3">
        <label class="form-label" for="item">Depot ting:</label>
        
        <input class="form-control" list="datalistOptions" id="item" name="item" placeholder="Type to search..." value="{{ form.item.value}}" >
        
        <datalist id="datalistOptions">
            {% for depot_item in depot_items %}
                <option value="{{ depot_item.id }}" label="{{depot_item.name}} " data-id="{{ depot_item.id }}"> 
                </option>
            {% endfor %}
        </datalist>
    </div>

    <!-- Quantity -->
    {% bootstrap_label "Antal " %}
    {% bootstrap_field form.quantity  show_label=False  %}
        

    <!-- Start date -->
    {% bootstrap_label "Start dato"  label_for="start_date"  %}
    {% bootstrap_field form.start show_label=False  id="start_date" %}

    <!-- Start time -->
    {% bootstrap_label "Start tidspunkt" %}
    {% bootstrap_field form.start_time show_label=False %}


    <!-- End date -->
    {% bootstrap_label "Slut dato"  label_for="end_date"  %}
    {% bootstrap_field form.end  show_label=False   id="end_date"  %}

    <!-- End time -->
    {% bootstrap_label "Slut tidspunt" %}
    {% bootstrap_field form.end_time show_label=False %}





    
    
    <div class="mb-3">
        <label class="form-label" for="team_contact">Kontaktperson:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'person-vcard' %}  </span>
            {{ form.team_contact }}
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="team">Team:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'people' %}  </span>
            {{ form.team }}
        </div>
    </div>

        <!--Remarks  -->
        {% bootstrap_label "Bemærkninger " %}
        {% bootstrap_field form.remarks placeholder='bemærkninger'  show_label=False %}
    
        {% buttons submit='Insend' reset="Nulstil" %}
        {% endbuttons %}
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("item").addEventListener("input", function () { 
            let input = this.value.toLowerCase();
            let options = document.querySelectorAll("#datalistOptions option");
        
            options.forEach(function (option) {
        
                if (option.value.toLowerCase() === input) {
                    document.getElementById("item").value = option.value + " - " + option.label;
                    //document.getElementById("item_id").value = option.getAttribute("data-id");
                }
            });
        }); 

        document.getElementById("form").addEventListener("submit", function() {
            let item = document.getElementById("item")
            item.value = item.value.split(" - ")[0]
        });
        
        document.getElementById("form").addEventListener("submit", function() {
            let item = document.getElementById("item")
            item.value = item.value.split(" - ")[0]
        });
    });
</script>
{% endblock %}
