
{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
<br>
<h5>Depotets booking oversigt for alle teams: </h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ting</th>
      <th scope="col">Antal</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Booket af</th>
      <th scope="col">Status</th>
      <th scope="col">Handlinger</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <th scope="row">{{ object.id }}</th>
      <td> 
        {% if user.is_staff %}
        <a href="{{ object.get_absolute_url }}">{{ object.item }}</a>
        {% elif user_team_membership.team.name and object.team == user_team_membership.team %}
        <a href="{{ object.get_absolute_url }}">{{ object.item }}</a>
        {% else %}
        {{ object.item }}
        {% endif %}
      </td>
      <td>{{ object.quantity }}</td>
      <td>{{ object.start }}</td>
      <td>{{ object.end }}</td>
      <td>{{ object.team_contact }}</td>
      <td>
        {% if object.status == 'Pending' %}
          <span class="badge bg-warning text-dark">
            <small>Afventer</small>
          </span>
        {% elif object.status == 'Approved' %}
          <span class="badge bg-success">
            <small>Godkendt</small>
          </span>
        {% elif object.status == 'Rejected' %}
          <span class="badge bg-danger">
            <small>Afvist</small>
          </span>
        {% endif %}
      </td>
      <td>

          {% if user_team_membership %}
            {% if user.is_staff %}
              <a href="{% url 'Depot_DepotBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm">
                {% bs_icon 'pencil' %}
              </a>
              <a href="{% url 'Depot_DepotBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                {% bs_icon 'trash' %}
              </a>
            {% elif user_team_membership.team.name and object.team == user_team_membership.team %}
              <a href="{% url 'Depot_DepotBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm">
                {% bs_icon 'pencil' %}
              </a>
              <a href="{% url 'Depot_DepotBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                {% bs_icon 'trash' %}
              </a>
            {% else %}

            {% endif %}
          {% endif %}


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary" href="{% url 'Depot_DepotBooking_create' %}">
    Ny depot bestilling
  </a>
</div>
{% endblock %}
