{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}


<br>
      <h5>Bestillings oversigt for alle teams: </h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Område</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Booket af</th>
      <th scope="col">Status</th>
      <th scope="col">Handlinger</th>
    </tr>
  </thead>
  <tbody>
      {% for object in object_list %}
        <tr>
          <th scope="row">{{ object.id}}</th>
          <td>{{object.item}}</a>  </td>
          <td>{{object.start_date}}  {{object.start_time}}</td>
          <td>{{object.end_date}} {{object.end_time}}</td>
          <td>{{object.team_contact}}</td>
          <td>
            {% if object.status == 'Pending' %}
                <span class="badge bg-warning text-dark">
                    <small>Afventer</small>
                </span>
            {% elif object.status == 'Approved' %}
                <span class="badge bg-success">
                    <small>Godkendt</small>
                </span>
            {% elif object.status == 'Rejected' %}
                <span class="badge bg-danger">
                    <small>Afvist</small>
                </span>
            {% endif %}
        </td>
          <td>
            
            {% with user_team_membership=request.user.teammembership_set.first %}
            {% if user_team_membership %}
                {% if user_team_membership.team.name and object.team == user_team_membership.team %}
                <a href="{% url 'Location_LocationBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm">
                  {% bs_icon 'pencil' %}  
                </a>
          
                <a href="{% url 'Location_LocationBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                  {% bs_icon 'trash' %}  
                </a>
          
                {% endif %}
            {% endif %}
          {% endwith %}
        </td>
        </tr>
        {% endfor %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary"
    href="{% url 'Location_LocationBooking_create' %}">
  Ny område bestilling
  </a>
</div>


{% endblock %}
