{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<p>
    <a class="btn btn-light" href="{% url 'Location_LocationBooking_list' %}">
        {% bs_icon 'caret-left' %}  Tilbage
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}    

    <div class="mb-3">
        <label class="form-label" for="item">Område:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'geo' %}  </span>
            {{ form.item }}
        </div>
    </div>

    <div class="alert alert-warning d-flex align-items-center" role="alert">
        
        {% bs_icon 'exclamation-triangle-fill' %}
        <div>
           OBS! dato skal tastes ind hver gang - sorry!
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="start">Bookes fra: </label>
        <div class="input-group col-sm-10">
            <input class="form-control" id="start" type="datetime-local" name="start" value="{{ object.start }}">
            <button type="button" id="set-predefined-start" class="btn btn-secondary">Sæt til kursusstart</button>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="end">Bookes til: </label>
        <div class="input-group mb-3">
            <input class="form-control" id="end" type="datetime-local" name="end" value="{{ object.end }}">
            <button type="button" id="set-predefined-end" class="btn btn-secondary">Sæt til kursus slut</button>
        </div>
    </div>

    <div class="form-group row mb-2">
        <div class="col-sm-2 col-form-label">Primær lejrplads?</div>
        <div class="col-sm-10">
            <div class="form-check">
                {{ form.primary_camp }}
                <label class="form-check-label" for="{{ form.primary_camp.id_for_label }}">Det er vores primære lejrplads hele kurset</label>
            </div>
        </div>
    </div>

    
    <div class="mb-3">
        <label class="form-label" for="team_contact">Kontaktperson:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'person-vcard' %}  </span>
            {{ form.team_contact }}
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="team">Team:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'people' %}  </span>
            {{ form.team }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="remarks">Bemærkninger:</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">{% bs_icon 'chat-left-text' %}  </span>
            <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
        </div>
    </div>

    <input type="submit" value="Insend" class="btn btn-primary">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const setPredefinedStartButton = document.getElementById("set-predefined-start");
        const setPredefinedEndButton = document.getElementById("set-predefined-end");
        const startField = document.getElementById("start");
        const endField = document.getElementById("end");

        setPredefinedStartButton.addEventListener("click", function () {
            startField.value = "2023-10-14T08:00"; // Replace with your predefined value for start
        });

        setPredefinedEndButton.addEventListener("click", function () {
            endField.value = "2023-10-21T16:00"; // Replace with your predefined value for end
        });
    });
</script>
{% endblock %}
