{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Location_LocationBooking_list' %}">
        {% bs_icon 'caret-left' %} Til bestillings oversigt
    </a>
</p>
    
<table class="table">
    <tr>
        <td>Område</td>
        <td>{{ object.item }}</td>
    </tr>
    <tr>
        <td>Start</td>
        <td>{{ object.start }}</td>
    </tr>
    <tr>
        <td>Slut</td>
        <td>{{ object.end }}</td>
    </tr>
    <tr>
        <td>Team</td>
        <td>{{ object.team }}</td>
    </tr>
    <tr>
        <td>Kontaktperson</td>
        <td>{{ object.team_contact }}</td>
    </tr>
    <tr>
        <td>Bemærkninger</td>
        <td>{{ object.remarks }}</td>
    </tr>
    <tr>
        <td>Priomær lejrplads?</td>
        <td>
            {% if not object.primary_camp %}
                <button class="btn btn-warning btn-sm" disabled>Nej</button>
            {% else %}
                <button class="btn btn-success btn-sm" disabled>Ja</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            {% if object.status == 'Pending' %}
                <button class="btn btn-warning btn-sm" disabled>Afventer</button>
            {% elif object.status == 'Approved' %}
                <button class="btn btn-success btn-sm" disabled>Godkendt</button>
            {% elif object.status == 'Rejected' %}
                <button class="btn btn-danger btn-sm" disabled>Afvist</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Oprettet</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>Sidst Opdateret</td>
        <td>{{ object.last_updated }}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Rediger</a>

{% endblock %}

