{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}

{% block extra_css %}
<style>
  .timeline {
    position: relative;
    background: repeating-linear-gradient(
        to right,
        #ddd,
        #ddd 1px,
        #fff 1px,
        #fff 60px  // adjust this to change the spacing of the lines
    );
}

  .timeline button {
    height: 20px;
    background: blue;  // or whatever color you want for the bookings
  }
</style>
{% endblock %}


<br>
      <h5>Bestillings oversigt for alle teams: </h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Område</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Booket af</th>
      <th scope="col">Status</th>
      <th scope="col">Handlinger</th>
    </tr>
  </thead>
  <tbody>
      {% for object in object_list %}
        <tr>
          <th scope="row">{{ object.id}}</th>
          <td>{{object.item}}</a>  </td>
          <td>{{object.start}}</td>
          <td>{{object.end}}</td>
          <td>{{object.team_contact}}</td>
          <td>
            {% if object.status == 'Pending' %}
                <span class="badge bg-warning text-dark">
                    <small>Afventer</small>
                </span>
            {% elif object.status == 'Approved' %}
                <span class="badge bg-success">
                    <small>Godkendt</small>
                </span>
            {% elif object.status == 'Rejected' %}
                <span class="badge bg-danger">
                    <small>Afvist</small>
                </span>
            {% endif %}
        </td>
          <td>
            
            {% with user_team_membership=request.user.teammembership_set.first %}
            {% if user_team_membership %}
                {% if user_team_membership.team.name and object.team == user_team_membership.team %}
                <a href="{% url 'Location_LocationBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm">
                  {% bs_icon 'pencil' %}  
                </a>
          
                <a href="{% url 'Location_LocationBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                  {% bs_icon 'trash' %}  
                </a>
          
                {% endif %}
            {% endif %}
          {% endwith %}
        </td>
        </tr>
        {% endfor %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary"
    href="{% url 'Location_LocationBooking_create' %}">
  Ny område bestilling
  </a>
</div>





<br>
<h5>Bestillings oversigt for alle teams: </h5>
<p>Kursus start: {{ context.kursus_start }}</p>
<p>Kursus end: {{ context.kursus_end }}</p>
<p>Duration in hours: {{ context.duration_hours }}</p>

<p>This example demonstrates the item type "background" when using groups.</p>
<ul>
  <li>Background items having a group are displayed in that group</li>
  <li>Background items without a group are spread over the whole timeline</li>
  <li>Background items with a non-existing group are not displayed</li>
</ul>
<div id="visualization"></div>



<h5>Bestillings oversigt for alle teams: </h5>
<p>Kursus start: {{ context.kursus_start }}</p>
<p>Kursus end: {{ context.kursus_end }}</p>
<p>Duration in hours: {{ context.duration_hours }}</p>


<script src="https://unpkg.com/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script>
  var start_date = " {{context.kursus_start }}"
  var end_date = " {{context.kursus_end }}"

  var items = new vis.DataSet([
    {% for booking in context.object_list %};
      var booking_id = {{ booking.id }};
      var content = {{booking.team}};
      var start_time = {{booking.start}};
      var end_time = {{booking.end}};
      {
        id: booking_id,
        content: content,
        start: start_time,
        end: end_time,
      };
    {% endfor %}

  ]);
  var groups = new vis.DataSet([
    {% for booking in context.object_list %}
      { id: "{{ booking.item__id }}", content: "{{ booking.item }}" },
    {% endfor %}
  ]);

  var container = document.getElementById("visualization");
  var options = {
    start: "2023-10-16",
    end: "2023-10-20",
    editable: true,
  };

  var timeline = new vis.Timeline(container, items, options);
</script>


{% endblock %}
