{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block content %}

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Location_LocationBooking_list' %}">Område bestillinger</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ny booking </li>
    </ol>
</nav>

<h1 class="display-3" >Ny område booking</h1>
{% if user.is_authenticated %}
<p>Deadline for område bestillinger: <mark> {{user.events.first.deadline_lokaler }} </mark>.</p>

{% endif %}

<br>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
        <!-- Item -->
        
        <div class="mb-3">
            <label class="form-label" for="item">Område:</label>
            
            <input class="form-control" list="datalistOptions" id="item" name="item" placeholder="Type to search..." value="{{ form.item.value}}" >
            
            <datalist id="datalistOptions">
                {% for location_item in location_items %}
                    <option value="{{ location_item.id }}" label="{{location_item.name}} " data-id="{{ location_item.id }}"> 
                    </option>
                {% endfor %}
            </datalist>
        </div>
    
        

        <!-- Start date -->
        {% bootstrap_label "Start dato"  label_for="start_date"  %}
        {% bootstrap_field form.start_date show_label=False  id="start_date" %}
    
        <!-- Start time -->
        {% bootstrap_label "Start tidspunkt" %}
        {% bootstrap_field form.start_time show_label=False %}
    
        <!-- End date -->
        {% bootstrap_label "Slut dato"  label_for="end_date"  %}
        {% bootstrap_field form.end_date  show_label=False   id="end_date"  %}
    
        <!-- End time -->
        {% bootstrap_label "Slut tidspunt" %}
        {% bootstrap_field form.end_time show_label=False %}
    
        <!-- Team -->
        {% bootstrap_label "Team" %}
        {% bootstrap_field form.team  show_label=False  %}

        <!-- Team Contact -->
        {% bootstrap_label "Kontaktperson " %}
        {% bootstrap_field form.team_contact  show_label=False  %}


    <div class="form-group row mb-2">
        <div class="col-sm-2 col-form-label">Primær lejrplads?</div>
        <div class="col-sm-10">
            <div class="form-check">
                {{ form.primary_camp }}
                <label class="form-check-label" for="{{ form.primary_camp.id_for_label }}">Det er vores primære lejrplads hele kurset</label>
            </div>
        </div>
    </div>


    <div class="form-group row mb-2">
        <label class="col-sm-2 col-form-label" for="remarks">Bemærkninger:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Indsend" class="btn btn-primary">
        </div>
    </div>





</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("item").addEventListener("input", function () { 
            let input = this.value.toLowerCase();
            let options = document.querySelectorAll("#datalistOptions option");
        
            options.forEach(function (option) {
        
                if (option.value.toLowerCase() === input) {
                     
                document.getElementById("item").value = option.value + " - " + option.label;
                }
             });
        });
        
        document.getElementById("form").addEventListener("submit", function() {
                let item = document.getElementById("item")
                item.value = item.value.split(" - ")[0]
        });
    });
</script>

{% endblock %}
