<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

    <div class="container p-3 mb-2 bg-light text-dark">
        <ul class="nav bg-primary text-light">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/members">MEMBERS</a>
          </li>
        </ul>

        <h1>Polls </h1>

        <div>
            {% if latest_question_list %}
            <ul class="list-group">
                {% for question in latest_question_list %}
                    <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        
            {% block content %}
            {% endblock %}
        </div>

      </div>
      </body>
      </html>
