
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Sjak_SjakBooking_list' %}">
    SjakBooking Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="item">Sjak item: </label>
        {{ form.item }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.quantity.id_for_label }}">Antal </label>
        {{ form.quantity }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="use_date">Bookes fra: </label>
        <input class="form-control col-sm-10"
            id="use_date" type="datetime-local"
            name="use_date" value="{{ object.use_date }}">
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team_contact">Kontaktperson: </label>
        {{ form.team_contact }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team">Team: </label>
        {{ form.team }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="remarks">Bemærkninger</label>
        <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
    </div>  
    <br>    
    <input type="submit" value="Insend" class="btn btn-primary">
</form>

{% endblock %}