{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sjak Bookinger</li>
  </ol>
</nav>

<br>

{% if request.user.is_authenticated %}
      <h5>Booking oversigt for team: {% with volunteer_team_memberships=request.user.teammembership_set.all %}
          {% if volunteer_team_memberships %}
              {{ volunteer_team_memberships.first.team.name }}
          {% endif %}
          {% endwith %}</h5>
  {% endif %}


  <div>
    {% if user.events.exists %}
        Deadline for Sjak bookinger: {{ user.events.first.deadline_sjak }}
    {% else %}
        No events found for the user.
    {% endif %}
</div>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Antal</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Booket af</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% with user_team_membership=request.user.teammembership_set.first %}
    {% if user_team_membership %}
      {% for object in object_list %}
        {% if user_team_membership.team.name and object.team == user_team_membership.team %}
          <tr>
            <th scope="row">{{ object.id}}</th>
            <td><a href="{{object.get_absolute_url}}">{{object.item}}</a>  </td>
            <td>{{object.quantity}}</td>
            <td>{{object.start}} - {{object.start_time}}</td>
            <td>{{object.end}} - {{object.end_time}}</td>
            <td>{{object.team_contact}}</td>
            <td>
              {% if object.status == 'Pending' %}
                  <span class="badge bg-warning text-dark">
                      <small>Afventer</small>
                  </span>
              {% elif object.status == 'Approved' %}
                  <span class="badge bg-success">
                      <small>Godkendt</small>
                  </span>
              {% elif object.status == 'Rejected' %}
                  <span class="badge bg-danger">
                      <small>Afvist</small>
                  </span>
              {% endif %}
            </td>
              <td>
                  <a href="{% url 'Sjak_SjakBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm disabled">
                    {% bs_icon 'pencil' %}  
                  </a>
                  <a href="{% url 'Sjak_SjakBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm disabled">
                    {% bs_icon 'trash' %}  
                  </a>

                
            </td>
          </tr>
          {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary"
    href="{% url 'Sjak_SjakBooking_create' %}">
    Ny Sjak booking
  </a>

</div>
{% endblock %}
