
{% block app_content %}
<div class="col">
    <div class="card h-100">
        <h5 class="card-header">Køkken</h5>
        <div class="card-body">
            <div class="d-grid gap-2">
            <a href="{% url 'Butikken_ButikkenBooking_list' %}" class="btn btn-secondary">Jeres madvare bookinger</a>
            <a href="{% url 'Butikken_ButikkenItem_list' %}" class="btn btn-secondary">Køkkenets madvarer</a>
            <a href="{% url 'Butikken_MealBooking_list' %}" class="btn btn-secondary">Jeres måltids booking</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}







