{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% block content %}

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Butikken_ButikkenBooking_list' %}">Butikken bookinger</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ny booking </li>
    </ol>
</nav>

<br>
<h1 class="display-3" >Ny butikken booking</h1>
{% if user.is_authenticated %}
<p>Deadline for butikken bestillinger: <mark> {{user.events.first.deadline_mad}} </mark>.</p>

{% endif %}
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
        <!-- Item -->
        {% bootstrap_label "Item " %}
        {% bootstrap_field form.item  show_label=False  %}

        <!-- Quantity -->
        {% bootstrap_label "Antal " %}
        {% bootstrap_field form.quantity show_label=False  %}

        <!-- Start date -->
        {% bootstrap_label "Start "  label_for="start"  %}
        {% bootstrap_field form.start show_label=False  id="start" %}

        <!-- Start time -->
        {% bootstrap_label "tidspunkt "  label_for="start_time"  %}
        {% bootstrap_field form.start_time show_label=False  id="start_time" %}
    
        <!-- Team -->
        {% bootstrap_label "Team" %}
        {% bootstrap_field form.team  show_label=False  %}

        <!-- Team Contact -->
        {% bootstrap_label "Kontaktperson " %}
        {% bootstrap_field form.team_contact  show_label=False  %}


    <!--Remarks  -->
    {% bootstrap_label "Bemærkninger " %}
    {% bootstrap_field form.remarks placeholder='bemærkninger'  show_label=False %}

    <!-- Status -->
    {% bootstrap_field form.status  show_label=False  value="Pending"  %}



    {% buttons submit='Insend' reset="Nulstil" %}
    {% endbuttons %}
</form>


{% endblock %}
