
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Butikken_ButikkenBooking_list' %}">
    Jeres Bookinger fra Butikken
    </a>
</p>
    

<div class="alert alert-warning" role="alert">
    <h5> Deltagere og mængder </h5>
    <p> Når i laver en booking, skal i booke opskriften til <span class="badge bg-secondary">2 personer</span>. Køkkenet ganger jeres bestilling op senere. </p>
    <p> Er jeres booking ikke afhængig af deltagerantal? Så skriv det i bemærkninger </p>
</div>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" id="id_item" for="item">Butikken item: </label>
        {{ form.item }}
    </div>
    <br>
    <div class="alert alert-warning" role="alert">
        <p> Husk at tjekke enhederne og standard mængder i butikkens lager liste </p>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.quantity.id_for_label }}">Mængde</label>
        {{ form.quantity }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="start">Bookes fra: </label>
        <div class="input-group col-sm-10">
            <input class="form-control" id="start" type="datetime-local" name="start" value="{{ object.start }}">
            <button type="button" id="set-predefined-start" class="btn btn-secondary">Sæt til kursusstart</button>
        </div>
    </div>

    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team_contact">Kontaktperson: </label>
        {{ form.team_contact }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team">Team: </label>
        {{ form.team }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="remarks">Bemærkninger</label>
        <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
    </div>  
    <br>    
    <input type="submit" value="Insend" class="btn btn-primary">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const setPredefinedStartButton = document.getElementById("set-predefined-start");
        const startField = document.getElementById("start");

        setPredefinedStartButton.addEventListener("click", function () {
            startField.value = "2023-10-14T08:00"; // Replace with your predefined value for start
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const setItemDetails = document.getElementById("set-item-details");
        const ItemField = document.getElementById("item");

        setPredefinedStartButton.addEventListener("click", function () {
            ItemField.value = "test"; // Replace with your predefined value for start
        });
    });
</script>


{% endblock %}

