

{% block app_content %}
<div class="card">
    <h5 class="card-header">Organization</h5>
    <div class="card-body">
        <a href="{% url 'organization_Event_list' %}" class="btn btn-secondary mb-2">Event Listing</a>
        <a href="{% url 'organization_Team_list' %}" class="btn btn-secondary mb-2">Team Listing</a>
        <a href="{% url 'organization_TeamMembership_list' %}" class="btn btn-secondary mb-2">TeamMembership Listing</a>
        <a href="{% url 'organization_EventMembership_list' %}" class="btn btn-secondary mb-2">EventMembership Listing</a>
        <a href="{% url 'organization_Volunteer_list' %}" class="btn btn-secondary mb-2">Volunteer Listing</a>
    </div>
</div>
<br>
{% endblock %}