{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Gruppe</th>
      <th scope="col">Fornavn</th>
      <th scope="col">Efternavn</th>
      <th scope="col">Telefon</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for volunteer in volunteer_list %}
      <tr>
        <td>{{ volunteer.team_name }}</td>
        <td>{{ volunteer.first_name }}</td>
        <td>{{ volunteer.last_name }}</td>
        <td>{{ volunteer.phone }}</td>
        <td>{{ volunteer.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
