{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <script src="{% static 'js/sidebars.js' %}"></script>
        
        <title>Det nye booking system</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
        <script type="importmap">
        {
          "imports": {
            "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
            "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.esm.min.js"
          }
        }
        </script>
    


        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
        
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.6.0"></script>
        
          


        {% block extra_css %}
        
        
        {% endblock %}

    
    </head>
 <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="pt-0">
    {% load bootstrap_icons %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
      <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="{% url 'index'%}">Hjem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
          <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <!-- A-Team -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  A-Team
                </a>
                <ul class="dropdown-menu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alle bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'AktivitetsTeam_AktivitetsTeamItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Katalog</a>
                    </li>
                    <li>
                        <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny Booking</a>
                    </li>
                  </ul>
                </ul>
              </li>

              <!-- Teknik -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Teknik
                </a>
                <ul class="dropdown-menu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{% url 'Teknik_TeknikBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Teknik_TeknikItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ting</a>
                    </li>
                    <li>
                        <a href="{% url 'Teknik_TeknikBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny booking</a>
                    </li>
                  </ul>
                </ul>
              </li>

              <!-- Sjak -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sjak
                </a>
                <ul class="dropdown-menu">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                          <a href="{% url 'Sjak_SjakBooking_list' %}"class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bookinger</a>
                      </li>
                      <li>
                          <a href="{% url 'Sjak_SjakItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sager</a>
                      </li>
                      <li>
                          <a href="{% url 'Sjak_SjakBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny booking</a>
                      </li>
                    </ul>
                  </ul>
              </li>


              <!-- Butik -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Butik
                </a>
                <ul class="dropdown-menu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{% url 'Butikken_ButikkenBooking_list' %}"class="link-body-emphasis d-inline-flex text-decoration-none rounded">Vare bestillinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Butikken_ButikkenItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tilgængelige varer</a>
                    </li>
                    <li>
                        <a href="{% url 'Butikken_MealBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Måltider</a>
                    </li>
                    <li>
                        <a href="{% url 'Butikken_ButikkenBooking_create' %}"class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny vare bestilling</a>
                    </li>
                    </ul>
                </ul>
              </li>


              <!-- Support -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Support
                </a>
                <ul class="dropdown-menu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <!-- SOS -->
                    <li><h6 class="dropdown-header">SOS</h6></li>
                    <li>
                        <a href="{% url 'SOS_SOSBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alle bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'SOS_SOSItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Katalog</a>
                    </li>
                    <li>
                        <a href="{% url 'SOS_SOSBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny Booking</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <!-- Support -->
                    <li><h6 class="dropdown-header">Supportsjak</h6></li>
                    <li>
                        <a href="{% url 'Support_SupportBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Support_SupportItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Katalog</a>
                    </li>
                    <li>
                        <a href="{% url 'Support_SupportBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny Booking</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <!-- Foto -->
                    <li><h6 class="dropdown-header">Foto</h6></li>
                    <li>
                      <a href="{% url 'Foto_FotoBooking_list' %}"class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Foto_FotoItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ting</a>
                    </li>
                    <li>
                        <a href="{% url 'Foto_FotoBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny booking</a>
                    </li>

                  </ul>
                </ul>
              </li>
              <!-- Organisation -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle test-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Organisation
                </a>
                <ul class="dropdown-menu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <!-- SOS -->
                    <li>
                      <a href="{% url 'organization_Volunteer_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Medarbejdere</a>
                    </li>
                    <li>
                        <a href="{% url 'organization_Key_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nøgler</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <!-- Æblegården -->
                    <li><h6 class="dropdown-header">Æblegården</h6></li>
                    <li>
                      <a href="{% url 'Depot_DepotBooking_list' %}"class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alle bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Depot_DepotItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ting</a>
                    </li>
                    <li>
                        <a href="{% url 'Depot_DepotBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny booking</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <!-- Områder -->
                    <li><h6 class="dropdown-header">Områder</h6></li>
                    <li>
                      <a href="{% url 'Location_LocationBooking_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alle bookinger</a>
                    </li>
                    <li>
                        <a href="{% url 'Location_LocationItem_list' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Katalog</a>
                    </li>
                    <li>
                        <a href="{% url 'Location_LocationBooking_create' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ny Booking</a>
                    </li>
                    
                  </ul>
                  

                </ul>
              </li>



            </ul>
        
          </div>
        {% endif %}


      </div>

      <div class="container-fluid justify-content-end">

        {% if user.is_authenticated %}
          

        <div class="dropdown">
            <a class="nav-link d-flex align-items-center text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% load bootstrap_icons %}
                <span class="me-2">Hej {{ user.first_name }}!</span>
                {% bs_icon 'person-circle' %} 
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'organization_Volunteer_detail' request.user.pk %}">Min profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout_user' %}">Log ud</a>
                {% endif %}
            
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Adminstrator</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>





    </nav>




  	<!--
      {% include 'navbar.html' %}
    -->



      <div class="container">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
  
  
        {% block app_content %}
        <!-- here comes the app_card for each app! -->
        {% endblock %}
  
        {% block content %}
        <!-- here comes the app_card for each app! -->
        {% endblock %}
  
      </div>



            


      
    


  
    <!-- Sleekplan integration -->
    <script type="text/javascript">window.$sleek=[];window.SLEEK_PRODUCT_ID=535324369;(function(){d=document;s=d.createElement("script");s.src="https://client.sleekplan.com/sdk/e.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>  

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      </script>
    

  </body>
</html>