{% extends 'base.html' %}

{% block app_content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
            {% include "organization/organization_card.html" %}
            {% include "Teknik/teknik_card.html" %}
            {% include "Sjak/sjak_card_new.html" %}        
            {% include "AktivitetsTeam/aktivitetsteam_card.html" %}
            {% include "Butikken/butikken_card.html" %}
            {% include "Location/location_card.html" %}
            {% include "Foto/foto_card.html" %}
            {% include "Depot/depot_card.html" %}
    </div>
    <!-- Add more includes for other apps as needed -->
{% endblock %}

