
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Teknik_TeknikBooking_list' %}">
    TeknikBooking Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="item">Item: </label>
        {{ form.item }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="quantity">Antal </label>
        <input class="form-control col-sm-10"
            id="quantity" type="text"
            name="quantity" value="{{ object.quantity }}">
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="start">Fra: </label>
        <input class="form-control col-sm-10"
            id="start" type="datetime-local"
            name="start" value="{{ object.start }}">
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="end">Til: </label>
        <input class="form-control col-sm-10"
            id="end" type="datetime-local"
            name="end" value="{{ object.end }}">
    </div>
    <br>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team">Team: </label>
        {{ form.team }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team_contact">Kontaktperson: </label>
        {{ form.team_contact }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="remarks">Bemærkninger</label>
        <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
    </div>
    <br>
  <input type="submit" value="Indsend" class="btn btn-primary">
</form>
{% endblock %}