
{% block app_content %}
<div class="col">
    <div class="card h-100">
        <h5 class="card-header">AktivitetsTeam</h5>
        <div class="card-body">
            <div class="d-grid gap-2">
            <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}" class="btn btn-secondary">Alle aktivitets bookinger</a>
            <a href="{% url 'AktivitetsTeam_AktivitetsTeamItem_list' %}" class="btn btn-secondary">Aktivitets katalog</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
