{% extends "base.html" %}
{% load comments %}
{% load comments_xtd %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
    
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
      <li class="breadcrumb-item"><a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}">AktivitetsTeam bookinger</a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{ object.item }} booking </li>
    </ol>
</nav>

<h1 class="display-3" >{{ object.item }} booking til {{ object.team }} </h1>


<br>
    
<table class="table">
    <tr>
        <td>Aktivitet</td>
        <td>{{ object.item }}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{ object.location }}</td>
    </tr>
    <tr>
        <td>Start dato</td>
        <td>{{ object.start_date }}</td>
    </tr>
    <tr>
        <td>Start tid</td>
        <td>{{ object.start_time }}</td>
    </tr>
    <tr>
        <td>Slut dato</td>
        <td>{{ object.end_date }}</td>
    </tr>
    <tr>
        <td>Slut tid</td>
        <td>{{ object.end_time }}</td>
    </tr>
    <tr>
        <td>Team</td>
        <td>{{ object.team }}</td>
    </tr>
    <tr>
        <td>Kontaktperson</td>
        <td>{{ object.team_contact }}</td>
    </tr>
    <tr>
        <td>Bemærkninger</td>
        <td>{{ object.remarks }}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{ object_dict.latitude }}. {{ object_dict.longitude }}
        </br>
        </br>
                
            <a href="https://www.google.com/maps?q={{ object_dict.latitude }},{{ object_dict.longitude }}" target="_blank" class="btn btn-primary">
                Open in Google Maps
            </a>
        </td>
        
    </tr>
    
    <tr>
        <td>Status</td>
        <td>
            {% if object.status == 'Pending' %}
                <button class="btn btn-warning btn-sm" disabled>Afventer</button>
            {% elif object.status == 'Approved' %}
                <button class="btn btn-success btn-sm" disabled>Godkendt</button>
            {% elif object.status == 'Rejected' %}
                <button class="btn btn-danger btn-sm" disabled>Afvist</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Oprettet</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>Sidst Opdateret</td>
        <td>{{ object.last_updated }}</td>
    </tr>
</table>

</br>
{{ object_dict|json_script:"object_json" }}
<div id="map" style="height: 40em;" ></div>

</br>
<div class="container">
    <div class="row align-items-start">
        <div class="col col-4">
            <a class="btn btn-primary btn-block" style="width: 100%" href="{{object.get_update_url}}">Rediger</a>
        </div>
        <div class="col col-4">
            {% if user.is_staff %}
            <form method="post" action="{% url 'AktivitetsTeam_AktivitetsTeamBooking_approve' object.pk %}?next={% url 'AktivitetsTeam_AktivitetsTeamBooking_detail' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-block" style="width: 100%">Godkend</button>
            </form>
            {% endif %}
        </div>
        <div class="col col-4">
            {% if user.is_staff %}
            <form method="post" action="{% url 'AktivitetsTeam_AktivitetsTeamBooking_reject' object.pk %}?next={% url 'AktivitetsTeam_AktivitetsTeamBooking_detail' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block" style="width: 100%">Afvis</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="container ">

    <!-- Comments -->
        {% get_comment_count for object as comment_count %}
        <div class="comment mt-3 mb-5">  
        <div class="card pt-4">
            <div class="card-body">
            <h5 class="card-title">Kommentarer</h5>

            <!-- Kommentar træet -->

            {% if comment_count %}
                <ul class="media-list">
                {% render_xtdcomment_tree for object %}
                </ul>
            {% endif %}

            <!-- Skrivefelt -->

            {% render_comment_form for object %}

            <!-- Optælling -->
            <div class="py-4 card-text">
                <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}">Tilbage til oversigt</a>
                &nbsp;&sdot;&nbsp;
                {{ comment_count }} komment{{ comment_count|pluralize:"ar,arer" }}
                er givet.
            </div>
        </div>
        </div>

    </div>

    <script>
        // initialize object
        let object = JSON.parse(document.getElementById('object_json').textContent);
    
        // initialize map
        var map = L.map('map').setView([object.latitude, object.longitude], 15);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
        // add marker for object
        L.marker([object.latitude, object.longitude]).addTo(map)
            .bindPopup(object.name)
            .openPopup();
    </script>

    
{% endblock %}




