{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% block content %}

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
      <li class="breadcrumb-item"><a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}">AktivitetsTeam bookinger</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ny booking </li>
    </ol>
</nav>

<br>
<h1 class="display-3" >Ny Aktivitetsteam booking</h1>
{% if user.is_authenticated %}
<p>Deadline for Aktivitetsteam bestillinger: <mark> {{user.events.first.deadline_aktivitetsteam }} </mark>.</p>

{% endif %}
    
<form id="form" role="form" method="post">
    {% csrf_token %}


    {% bootstrap_form_errors form type='non_fields' %}


        <!-- Item -->
        {% bootstrap_field form.item id="item" %}

        <!-- Quantity -->
        {% bootstrap_label "Location " %}
        {% bootstrap_field form.location show_label=False  %}

        <!-- Start date -->
        {% bootstrap_label "Start dato"  label_for="start_date"  %}
        {% bootstrap_field form.start_date show_label=False  id="start_date" %}
    
        <!-- Start time -->
        {% bootstrap_label "Start tidspunkt" %}
        {% bootstrap_field form.start_time show_label=False %}
    
        <!-- End date -->
        {% bootstrap_label "Slut dato"  label_for="end_date"  %}
        {% bootstrap_field form.end_date  show_label=False   id="end_date"  %}
    
        <!-- End time -->
        {% bootstrap_label "Slut tidspunt" %}
        {% bootstrap_field form.end_time show_label=False %}
    
        <!-- Team -->
        {% bootstrap_label "Team" %}
        {% bootstrap_field form.team  show_label=False  %}

        <!-- Team Contact -->
        {% bootstrap_label "Kontaktperson " %}
        {% bootstrap_field form.team_contact  show_label=False  %}

        <!--Remarks  -->
        {% bootstrap_label "Bemærkninger " %}
        {% bootstrap_field form.remarks placeholder='bemærkninger'  show_label=False %}

        {% buttons submit='Insend' reset="Nulstil" %}
        {% endbuttons %}

        

</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("item").addEventListener("input", function () { 
            let input = this.value.toLowerCase();
            let options = document.querySelectorAll("#datalistOptions option");
        
            options.forEach(function (option) {
        
                if (option.value.toLowerCase() === input) {
                    document.getElementById("item").value = option.value + " - " + option.label;
                    //document.getElementById("item_id").value = option.getAttribute("data-id");
                }
            });
        }); 

        document.getElementById("form").addEventListener("submit", function() {
            let item = document.getElementById("item")
            item.value = item.value.split(" - ")[0]
        });
        
        document.getElementById("form").addEventListener("submit", function() {
            let item = document.getElementById("item")
            item.value = item.value.split(" - ")[0]
        });
    });
</script>

{% endblock %}
