{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
<h5> Herunder kan du se alle gruppers aktivitetsteam bookinger </h5>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Aktivitet</th>
      <th scope="col">Placering</th>
      <th scope="col">Fra dato</th>
      <th scope="col">Fra tid</th>
      <th scope="col">Til dato</th>
      <th scope="col">Til tid</th>
      <th scope="col">Kontaktperson</th>
      <th scope="col">Gruppe</th>
      <th scope="col">Status</th>
      <th scope="col">Handlinger</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <th scope="row">{{ object.id}}</th>
        <td><a href="{{object.get_absolute_url}}">{{object.item}}</a></td>
        <td>{{object.location}}</td>
        <td>{{object.start_date}}</td>
        <td>{{object.start_time}}</td>
        <td>{{object.end_date}}</td>
        <td>{{object.end_time}}</td>
        <td>{{object.team_contact}}</td>
        <td>{{ object.team.name }}</td>
        <td>
          {% if object.status == 'Pending' %}
              <span class="badge bg-warning text-dark">
                  <small>Afventer</small>
              </span>
          {% elif object.status == 'Approved' %}
              <span class="badge bg-success">
                  <small>Godkendt</small>
              </span>
          {% elif object.status == 'Rejected' %}
              <span class="badge bg-danger">
                  <small>Afvist</small>
              </span>
          {% endif %}
      </td>
        <td>
          <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm">
            {% bs_icon 'pencil' %}  
          </a>
          {% with user_team_membership=request.user.teammembership_set.first %}
            {% if user_team_membership %}
                {% if user_team_membership.team.name and object.team == user_team_membership.team %}
          
                <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                  {% bs_icon 'trash' %}  
                </a>
          
                {% endif %}
            {% endif %}
          {% endwith %}
          
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary"
    href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_create' %}">
  Ny aktivitetsteam booking
  </a>
</div>

<br>

{% endblock %}
