
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Support_SupportBooking_list' %}">
    SupportBooking Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="item">Support person: </label>
        {{ form.item }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="start">Bookes fra: </label>
        <div class="input-group col-sm-10">
            <input class="form-control" id="start" type="datetime-local" name="start" value="{{ object.start }}">
            <button type="button" id="set-predefined-start" class="btn btn-secondary">Sæt til kursusstart</button>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="end">Bookes til: </label>
        <div class="input-group mb-3">
            <input class="form-control" id="end" type="datetime-local" name="end" value="{{ object.end }}">
            <button type="button" id="set-predefined-end" class="btn btn-secondary">Sæt til kursus slut</button>
        </div>
    </div>
    <br>
      

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team_contact">Kontaktperson: </label>
        {{ form.team_contact }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team">Team: </label>
        {{ form.team }}
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="remarks">Bemærkninger</label>
        <textarea class="form-control" id="remarks" name="remarks" rows="4">{{ object.remarks }}</textarea>
    </div>  
    <br>    
    <input type="submit" value="Insend" class="btn btn-primary">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const setPredefinedStartButton = document.getElementById("set-predefined-start");
        const setPredefinedEndButton = document.getElementById("set-predefined-end");
        const startField = document.getElementById("start");
        const endField = document.getElementById("end");

        setPredefinedStartButton.addEventListener("click", function () {
            startField.value = "2023-10-14T08:00"; // Replace with your predefined value for start
        });

        setPredefinedEndButton.addEventListener("click", function () {
            endField.value = "2023-10-21T16:00"; // Replace with your predefined value for end
        });
    });
</script>


{% endblock %}

