
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'KursusOrganisation_Medarbejder_list' %}">
    Medarbejder Listing
    </a>
</p>
    
<table class="table">
    <tr><td>date_created</td><td>{{ object.date_created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>navn</td><td>{{ object.navn }}</td></tr>
    <tr><td>user</td><td>{{ object.user }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}